.TitleText {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
}
.SaltText {
    font-size: 15px;
    font-weight: bolder;
    align-self: flex-end;
}
.CommanderText {
    font-size: 15px;
}
.AuthorText {
    font-size: 10px;
    font-weight: bold;
    align-self: center;
}
.PreviewContainer {
    /* border-style: solid; */
    width: 350px;
    margin: 10px;
    padding: 10px;
    /* border-color: #484747; */
    /* border-width: 2px; */
}